
.custom-drawer .ant-drawer-content-wrapper {
    border-radius: 16px 16px 0 0 !important;
}

.custom-drawer .ant-drawer-content-wrapper .ant-drawer-content {
    border-radius: 16px 16px 0 0 !important;
}

.custom-drawer .ant-drawer-content {
    border-radius: 16px 16px 0 0;
}


.custom-drawer .ant-drawer-header {
    border-bottom: none;
}

.myClass {
    border-radius: 16px 16px 0 0;
}
